// Global App Styles
$base-color:#ccc;
$alert-color: blue;
$active-color: #d1f3ea;
$neutral-color: #ccc;
$page-bg-color: #fff;
$include-highlights:false;

// Global List styles
$list-bg-color:#fff;
$list-active-color:#f7f7f7;
$list-zebrastripe:false;
.x-list-normal .x-list-header {
	background-color: #eee !important;
}

.x-list-header {
	text-align: center;
	color: #333 !important;
}

// Global Default Disclosure Icon
.x-list-disclosure, .x-list .x-item-selected .x-list-disclosure {
	background: url('../images/disclosure.png') transparent top left no-repeat !important;
	-webkit-mask: none !important;
	-webkit-mask-size: none !important;
	bottom: 0.24em !important;
	background-color: transparent !important;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('settings');
@include pictos-iconmask('settings02');
@include pictos-iconmask('team');
@include pictos-iconmask('team02');
@include pictos-iconmask('screens');
@include pictos-iconmask('add1');
@include pictos-iconmask('activity');
@include pictos-iconmask('bookings');
@include pictos-iconmask('bookings02');

// Global Titlebar Styles
.titlebar-black {
	background-color: #333;
}
.titlebar-black .x-title {
	font-size: 0.85em;
	font-weight: bold;
	color:#fff;
}

// App Tab Bar Style
#idAppTabBar .x-tab {
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	min-width: 3.0em;
	position: relative;
	padding-top: .6em;
	padding-bottom: .8em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

// Toolbar Styles
// Activity Initial Page
.toolbar-grey .toolbarbutton {
	width:140px;
	margin-left:10px;
	margin-right:10px;
	padding-top:0px;
	padding-bottom:0px;
	
	border-radius: 5px !important; 
	-moz-border-radius: 5px !important; 
	-webkit-border-radius: 5px !important;
	border: 1px solid #999 !important;
	background-color:#bbb;
	
	color:#666;
	font-weight:normal;
}
.toolbar-grey .x-last {
	margin-left:0px;
}
.toolbar-grey .toolbarminwidth {
	margin-left:4px;
	margin-right:4px;
	padding-top:0px;
	padding-bottom:0px;
	
	border-radius: 5px !important; 
	-moz-border-radius: 5px !important; 
	-webkit-border-radius: 5px !important;
	border: 1px solid #999 !important;
	background-color:#bbb;
	color:#666;
}
.toolbar-search-field {
	margin:0em !important;
}

.x-field-search .x-field-input .x-form-field {
margin-left: 1.8em;
}

.x-toolbar-dark .x-button.x-button-pressing, .x-toolbar-dark .x-button.x-button-pressing::after, .x-toolbar-dark .x-button.x-button-pressed, .x-toolbar-dark .x-button.x-button-pressed::after, .x-toolbar-dark .x-button.x-button-active, .x-toolbar-dark .x-button.x-button-active::after, .x-toolbar .x-toolbar-dark .x-button.x-button-pressing, .x-toolbar .x-toolbar-dark .x-button.x-button-pressing::after, .x-toolbar .x-toolbar-dark .x-button.x-button-pressed, .x-toolbar .x-toolbar-dark .x-button.x-button-pressed::after, .x-toolbar .x-toolbar-dark .x-button.x-button-active, .x-toolbar .x-toolbar-dark .x-button.x-button-active::after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing::after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed::after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-active, .x-toolbar-dark .x-field-select .x-component-outer.x-button-active::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-active, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-active::after, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressing, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressing::after, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressed, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressed::after, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-active, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-active::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressing, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressing::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressed, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-pressed::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-active, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-active::after {
	background-color:#ddd !important;
	color:#000 !important;
}

.x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-hasbadge .x-badge, .x-hasbadge .x-toolbar .x-button .x-badge {
	font-size: .6em;
	font-weight: normal;
}
// Client and Apointment Initial Screens
.toolbarthin .x-component-outer, .toolbarthinwithtitle .x-component-outer {
	height: 20px;
}
.toolbarthin .x-field-input, .toolbarthinwithtitle .x-field-input {
	height: 20px;
}
.toolbarthin .x-input-search, .toolbarthinwithtitle .x-input-search {
	height: 20px;
	font-size: 0.7em;
}
.toolbarthin .x-clear-icon, .toolbarthinwithtitle .x-clear-icon {
	width: 34px;
	height: 34px;
	top: 11px;
}
.toolbarthinwithtitle {
	font-size: 0.75em;
}
.toolbarthinwithtitle .toolbar-prev-btn {
	margin-left:5px;
}
.toolbarthinwithtitle .toolbar-next-btn {
	margin-right:5px;
}


// Global Tabbar Style
.x-tabbar.x-docked-bottom {
	/*height:2.6em;*/
}
.x-tabbar .x-tab .x-button-label {
	display:none;
}

// Activity List Styles
div > .activity-notifications-list-item:first-child {
	margin-top:10px;
}

.activity-notifications-list-item {
	padding: 0.6em;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border: 1px solid #ccc;
}

.activity-notifications-list-disclosure {
	height: 24px;
	width: 24px;
	background: url('../images/disclosure.png') transparent top left no-repeat;
	float: right;
	margin-top: -1.4em;
}

.activity-notifications-list-item .itemimagecontainer {
	float:left;
	height: 48px;
	margin-top: -3px;
	padding-left: 0px;
}

.activity-notifications-list-item h6.item-header {
	font-size: 0.6em;
	font-weight: normal;
	color: #666;
}

.activity-notifications-list-item .item-body {
	margin-bottom: 0px;
	font-size:0.7em;
}

.activity-notifications-list-item .item-emphasis {
	font-weight:bold;
}

//activity timeline list
.timeline-list .x-list-item-label {
	margin-top:10px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom:10px;
	border: 1px solid #ccc !important;
}

.timeline-list .x-list-disclosure, .timeline-list .x-item-selected .x-list-disclosure {
	top: 1.4em !important;
}

// Client List Styles
.clientlist .x-list-item:first-child .x-list-item-label {
	border: 1px solid #ccc;
}
.clientlist .x-list-item .x-list-item-label {
min-height: 2.45em;
padding: 0.2em 0.7em;
}
.clientlist .x-list-item-label {
	margin: 10px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 1px solid #ccc;
}
.clientlist .itemimagecontainer {
	float: left;
	height: 36px;
	width: 36px;
	margin-top: 1px;
	margin-left: -8px;
	margin-right: 3px;
}

// Client Group List
.clientgrouplist .x-list-item-label {
	font-size:0.8em;
}
.clientgrouplist .indicator {
	float:right;
	margin-top: -3px;
	margin-right:2em;
}
.clientgrouplist .badgenumber {
	padding: 4px 9px;
	background-color:#eee;
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	float:right;
}
.clientgrouplist .listitemicon {
	margin-right:10px;
	margin-top:-4px;
	float:left;
}
.clientgrouplist .x-list-disclosure, .clientgrouplist .x-item-selected .x-list-disclosure {
	bottom: 0.0em !important;
}

// Appointment List
.appointmentlist .x-list-item-label {
	font-size:0.8em;
}
.appointmentlist .indicator {
	float:right;
	margin-top: -3px;
	margin-right:2em;
}
.appointmentlist .badgenumber {
	padding: 4px 9px;
	background-color:#eee;
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	float:right;
}
.appointmentlist .freetime {
	margin-right:10px;
	float:left;
}
.appointmentlist .x-list-disclosure, .appointmentlist .x-item-selected .x-list-disclosure {
	bottom: 0.0em !important;
}

// Events per day view
// Activity List Styles
div > .events-per-day-list-item:first-child {
	margin-top:10px;
}

.events-per-day-list-item {
	padding: 0.6em;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:30px;
	border: 1px solid #ccc;
}

.events-per-day-list-disclosure {
	height: 24px;
	width: 24px;
	background: url('../images/disclosure.png') transparent top left no-repeat;
	float: right;
	margin-top: -27px;
}

.events-per-day-list-item .itemimagecontainer {
	float:left;
	height: 48px;
	margin-top: -3px;
	padding-left: 8px;
}

.events-per-day-list-item h6.item-header {
	font-size: 0.76em;
	font-weight: normal;
	color: #171717;
}

.events-per-day-list-item .item-body {
	margin-bottom: 0px;
	font-size:0.6em;
}

.events-per-day-list-item .item-emphasis {
	font-weight:bold;
}

.events-per-day-list-item .item-divider {
	position:absolute;
	float:left;
	left:0px;
	margin-top:17px;
	width:100%;
	height:18px;
	background:url(resources/images/list_divider.png) transparent top center no-repeat;
}
